@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* COLORS
========================================================================== */
/* SPACING
========================================================================== */
/* BREAKPOINTS
========================================================================== */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-green {
  background-color: #1fc276 !important;
}

.bg-red-1 {
  background-color: #ff5959 !important;
}

.bg-red-2 {
  background-color: #ed1c24 !important;
}

.bg-gray-3 {
  background-color: #b3b3b3 !important;
}

.stats-box {
  max-width: 1200px;
  width: 98%;
  margin: 1.875rem auto;
  background-color: #f2f2f2;
  padding: 1.875rem 1.25rem;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .stats-box {
    padding: 0.9375rem 0.3125rem;
  }
}

.stats-box .header {
  padding: 0.625rem;
  border-bottom: 2px solid #b3b3b3;
}

.stats-box .header .title {
  color: #808080;
  font-weight: 500;
}

.stats-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .stats-box .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stats-box .content .box {
  width: 100%;
  padding: 1.25rem;
}

@media (max-width: 1200px) {
  .stats-box .content .box {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 480px) {
  .stats-box .content .box {
    padding: 0.9375rem 0.3125rem;
  }
}

.box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.box-head > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 100%;
  padding: 0.3125rem 0.625rem;
  position: relative;
}

.box-head > div > h3 {
  color: #808080;
  font-weight: 500;
}

.box-head > div > img {
  width: 25px;
  margin-left: 0.625rem;
}

.box-head .box-head-left {
  border-bottom: 3px solid #1fc276;
}

.box-head .box-head-left::after {
  content: 'V';
  color: #b3b3b3;
  position: absolute;
  right: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.box-head .box-head-right {
  border-bottom: 3px solid #ed1c24;
}

.box-head .box-head-right::before {
  content: 'S';
  position: absolute;
  left: 0;
  color: #b3b3b3;
  font-size: 1rem;
  line-height: 1.5;
}

.box-title {
  text-align: center;
  padding: 0.625rem;
}

.box-title > h4 {
  color: #808080;
  font-weight: 400;
}

.box-title > p {
  color: #808080;
  font-weight: 700;
  font-size: 0.75rem;
}

.total-goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.total-goals .box-data-left,
.total-goals .box-data-mid,
.total-goals .box-data-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 100%;
}

.total-goals .box-data-left .over-under,
.total-goals .box-data-mid .over-under,
.total-goals .box-data-right .over-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total-goals .box-data-left .over-under .percentage,
.total-goals .box-data-left .over-under .margin,
.total-goals .box-data-mid .over-under .percentage,
.total-goals .box-data-mid .over-under .margin,
.total-goals .box-data-right .over-under .percentage,
.total-goals .box-data-right .over-under .margin {
  color: #808080;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.3125rem;
}

.total-goals .box-data-left .over-under .progress-bar-over,
.total-goals .box-data-left .over-under .progress-bar-under,
.total-goals .box-data-mid .over-under .progress-bar-over,
.total-goals .box-data-mid .over-under .progress-bar-under,
.total-goals .box-data-right .over-under .progress-bar-over,
.total-goals .box-data-right .over-under .progress-bar-under {
  width: 0.9375rem;
  height: 50px;
  background-color: #e6e6e6;
  position: relative;
}

.total-goals .box-data-left .over-under .progress-bar-over::after,
.total-goals .box-data-left .over-under .progress-bar-under::after,
.total-goals .box-data-mid .over-under .progress-bar-over::after,
.total-goals .box-data-mid .over-under .progress-bar-under::after,
.total-goals .box-data-right .over-under .progress-bar-over::after,
.total-goals .box-data-right .over-under .progress-bar-under::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1fc276;
}

.total-goals .box-data-left .over-under .progress-bar-under::after,
.total-goals .box-data-mid .over-under .progress-bar-under::after,
.total-goals .box-data-right .over-under .progress-bar-under::after {
  bottom: initial;
  top: 0;
}

.total-goals .box-data-left .over-under:nth-child(1) .progress-bar-over::after,
.total-goals .box-data-mid .over-under:nth-child(1) .progress-bar-over::after,
.total-goals .box-data-right .over-under:nth-child(1) .progress-bar-over::after {
  height: 100%;
}

.total-goals .box-data-left .over-under:nth-child(2) .progress-bar-over::after,
.total-goals .box-data-mid .over-under:nth-child(2) .progress-bar-over::after,
.total-goals .box-data-right .over-under:nth-child(2) .progress-bar-over::after {
  height: 60%;
}

.total-goals .box-data-left .over-under:nth-child(2) .progress-bar-under::after,
.total-goals .box-data-mid .over-under:nth-child(2) .progress-bar-under::after,
.total-goals .box-data-right .over-under:nth-child(2) .progress-bar-under::after {
  height: 40%;
}

.total-goals .box-data-left .over-under:nth-child(3) .progress-bar-over::after,
.total-goals .box-data-mid .over-under:nth-child(3) .progress-bar-over::after,
.total-goals .box-data-right .over-under:nth-child(3) .progress-bar-over::after {
  height: 20%;
}

.total-goals .box-data-left .over-under:nth-child(3) .progress-bar-under::after,
.total-goals .box-data-mid .over-under:nth-child(3) .progress-bar-under::after,
.total-goals .box-data-right .over-under:nth-child(3) .progress-bar-under::after {
  height: 80%;
}

.total-goals .box-data-left .over-under:nth-child(4) .progress-bar-over::after,
.total-goals .box-data-mid .over-under:nth-child(4) .progress-bar-over::after,
.total-goals .box-data-right .over-under:nth-child(4) .progress-bar-over::after {
  height: 40%;
}

.total-goals .box-data-left .over-under:nth-child(4) .progress-bar-under::after,
.total-goals .box-data-mid .over-under:nth-child(4) .progress-bar-under::after,
.total-goals .box-data-right .over-under:nth-child(4) .progress-bar-under::after {
  height: 60%;
}

.total-goals .box-data-right .over-under .progress-bar-over::after,
.total-goals .box-data-right .over-under .progress-bar-under::after {
  background-color: #ff5959;
}

.total-goals .box-data-mid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
}

.total-goals .box-data-mid p {
  color: #808080;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.625rem;
}

.total-goals .box-data-mid hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 0.3125rem;
}

@media (max-width: 480px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form .box-data-left,
.form .box-data-right {
  width: 100%;
  padding: 0 0.625rem;
}

.form .jumbo-percentage {
  text-align: center;
}

.form .jumbo-percentage .jumbo {
  font-size: 3rem;
  font-weight: 400;
  color: #808080;
}

.form .jumbo-percentage > p {
  color: #808080;
  font-weight: 700;
  font-size: 0.75rem;
}

.form .percentage-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0.3125rem auto;
}

.form .percentage-bars > div {
  width: 0.25rem;
  height: 25px;
  background-color: #e6e6e6;
  margin: 2px;
  border-radius: 3px;
}

.form .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0.3125rem;
}

.form .results > div {
  width: 100%;
  margin: 0.3125rem;
  color: #808080;
}

.form .results > div > h3 {
  margin-bottom: 0.3125rem;
}

.form .results > div > p {
  color: #808080;
  font-weight: 700;
  font-size: 0.75rem;
  margin-top: 0.3125rem;
}

.form .results > div > hr {
  padding: 0.125rem;
  background: #ed1c24;
  border: none;
  border-radius: 3px;
}

.head-2-head .results-bars > div {
  text-align: center;
  padding: 0.3125rem;
  color: #808080;
  position: relative;
}

.head-2-head .results-bars > div > span {
  position: relative;
  z-index: 1;
  height: auto;
}

.head-2-head .results-bars > div::after {
  content: '';
  padding: 0.625rem;
  position: absolute;
  left: 50%;
}

.head-2-head .results-bars > div:nth-child(1)::after, .head-2-head .results-bars > div:nth-child(5)::after {
  background: #1fc276;
  width: 20%;
  -webkit-transform: translateX(-85%);
          transform: translateX(-85%);
}

.head-2-head .results-bars > div:nth-child(2)::after {
  background: #b3b3b3;
  width: 38%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.head-2-head .results-bars > div:nth-child(3)::after {
  background-color: #ff5959 !important;
  width: 40%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.head-2-head .results-bars > div:nth-child(4)::after {
  background-color: #1fc276 !important;
  width: 40%;
  -webkit-transform: translateX(-92%);
          transform: translateX(-92%);
}

.head-2-head .results-percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  width: 100%;
}

.head-2-head .results-percentages .wins,
.head-2-head .results-percentages .draws,
.head-2-head .results-percentages .losses {
  width: 100%;
  padding: 0.3125rem;
}

.head-2-head .results-percentages .wins > div,
.head-2-head .results-percentages .draws > div,
.head-2-head .results-percentages .losses > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.head-2-head .results-percentages .wins > div > div,
.head-2-head .results-percentages .draws > div > div,
.head-2-head .results-percentages .losses > div > div {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.3125rem;
}

.head-2-head .results-percentages .wins > div > h4,
.head-2-head .results-percentages .draws > div > h4,
.head-2-head .results-percentages .losses > div > h4 {
  color: #808080;
  font-weight: 500;
  font-size: 0.9rem;
}

.head-2-head .results-percentages .wins > p,
.head-2-head .results-percentages .draws > p,
.head-2-head .results-percentages .losses > p {
  color: #808080;
  font-weight: 700;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.15625rem;
}
/*# sourceMappingURL=main.css.map */