.box-head {
    @include flex-center;
    >div {
        @include flex-center;
        width: 100%;
        padding: $space-1 $space-2;
        position: relative;
        >h3 {
            color: $gray-5;
            font-weight: 500;
        }
        >img {
            width: 25px;
            margin-left: $space-2;
        }
    }
    .box-head-left {
        border-bottom: 3px solid $green;
        &::after {
            content: 'V';
            color: $gray-3;
            position: absolute;
            right: 0;
            font-size: 1rem;
            line-height: 1.5;
        }
    }
    .box-head-right {
        border-bottom: 3px solid $red-2;
        &::before {
            content: 'S';
            position: absolute;
            left: 0;
            color: $gray-3;
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}