.progress-bar-over,
.progress-bar-under {
    width: $space-3;
    height: 50px;
    background-color: $gray-2;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $green;
    }
}
.progress-bar-under {
    &::after {
        bottom: initial;
        top: 0;
    }
}

&:nth-child(1) {
    .progress-bar-over {
        &::after {
            height: 100%;
        }
    }
}
&:nth-child(2) {
    .progress-bar-over {
        &::after {
            height: 60%;
        }
    }
    .progress-bar-under {
        &::after {
            height: 40%;
        }
    }
}
&:nth-child(3) {
    .progress-bar-over {
        &::after {
            height: 20%;
        }
    }
    .progress-bar-under {
        &::after {
            height: 80%;
        }
    }
}
&:nth-child(4) {
    .progress-bar-over {
        &::after {
            height: 40%;
        }
    }
    .progress-bar-under {
        &::after {
            height: 60%;
        }
    }
}
